*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f5f6fb;
}

.container{
display:flex;
height:100vh;
}

/* SIDEBAR */

.sidebar{
width:230px;
height:100vh;
background:white;
padding:25px 20px;
display:flex;
flex-direction:column;
box-shadow:2px 0 10px rgba(0,0,0,0.05);
}

.menu li{
padding:12px 14px;
margin-bottom:8px;
border-radius:10px;
cursor:pointer;
font-size:14px;
transition:0.2s;
}

/* LOGO */

.logo{
color:#6a5af9;
margin-bottom:30px;
font-size:20px;
}

/* MENU */

/* MENU LIST RESET */

.menu{
list-style:none;
padding:0;   /* removes default left space */
margin:0;    /* removes default margin */
flex:1;
}


.menu li:hover{
background:#eef0ff;
}

.menu .active{
background:#eef0ff;
color:#6a5af9;
font-weight:600;
}

/* SIGN OUT */

.signout{
padding:10px;
font-size:14px;
cursor:pointer;
border-radius:8px;
}

.signout:hover{
background:#f3f3f3;
}



/* MAIN */

.main{
flex:1;
padding:30px;
}

/* TOPBAR */

.topbar{
display:flex;
justify-content:space-between;
margin-bottom:30px;
}

.topbar input{
width:350px;
padding:10px;
border-radius:20px;
border:1px solid #ccc;
}

.profile{
display:flex;
align-items:center;
gap:10px;
}

.profile img{
border-radius:50%;
}

.profile span{
font-size:12px;
color:gray;
}

/* HEADER */

.header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
}

.controls button{
padding:8px 14px;
border-radius:20px;
border:1px solid #ccc;
background:white;
margin-left:10px;
cursor:pointer;
}

/* GRID */

.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
}

/* CARD */

.card{
background:white;
padding:20px;
border-radius:14px;
box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.card-header{
display:flex;
justify-content:space-between;
}

.company{
color:gray;
margin:5px 0 10px;
}

.details{
font-size:14px;
color:#777;
margin-bottom:15px;
}

/* MATCH BADGE */

.match{
background:#d7f8e3;
color:#1b8c5a;
padding:5px 10px;
border-radius:20px;
font-size:12px;
}

/* SKILLS */

.skills p,
.missing p{
font-size:13px;
margin-bottom:6px;
color:#555;
}

.skills span,
.missing span{
background:#ecebff;
color:#6c63ff;
padding:4px 10px;
border-radius:14px;
font-size:12px;
margin-right:6px;
display:inline-block;
margin-bottom:6px;
}

/* APPLY BUTTON */

.apply{
width:100%;
margin-top:15px;
padding:12px;
border:none;
border-radius:10px;
background:linear-gradient(90deg,#7b61ff,#5c7cff);
color:white;
font-weight:bold;
cursor:pointer;
}