*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f6f7fb;
}

/* LAYOUT */

.container{
display:flex;
height:100vh;
}

/* SIDEBAR */

.sidebar{
width:230px;
height:100vh;
background:white;
padding:25px 20px;
display:flex;
flex-direction:column;
box-shadow:2px 0 10px rgba(0,0,0,0.05);
}

.menu li{
padding:12px 14px;
margin-bottom:8px;
border-radius:10px;
cursor:pointer;
font-size:14px;
transition:0.2s;
}

/* LOGO */

.logo{
color:#6a5af9;
margin-bottom:30px;
font-size:20px;
}

/* MENU */

/* MENU LIST RESET */

.menu{
list-style:none;
padding:0;   /* removes default left space */
margin:0;    /* removes default margin */
flex:1;
}


.menu li:hover{
background:#eef0ff;
}

.menu .active{
background:#eef0ff;
color:#6a5af9;
font-weight:600;
}

/* SIGN OUT */

.signout{
padding:10px;
font-size:14px;
cursor:pointer;
border-radius:8px;
}

.signout:hover{
background:#f3f3f3;
}


/* MAIN */

.main{
flex:1;
padding:35px;
}

/* TOPBAR */

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:40px;
}

.search{
width:350px;
padding:10px 16px;
border-radius:20px;
border:1px solid #ddd;
}

.profile{
display:flex;
align-items:center;
gap:10px;
}

.profile img{
border-radius:50%;
}

.profile span{
font-size:12px;
color:gray;
}

/* HEADER */

.header{
text-align:center;
margin-bottom:30px;
}

.bot{
font-size:40px;
margin-bottom:10px;
}

.header p{
color:#666;
max-width:550px;
margin:auto;
margin-top:8px;
}

/* CARD */

.card{
background:white;
max-width:650px;
margin:auto;
padding:30px;
border-radius:14px;
box-shadow:0 4px 15px rgba(0,0,0,0.05);
}

.desc{
color:gray;
margin-bottom:20px;
}

/* LABELS */

label{
display:block;
margin-top:18px;
margin-bottom:8px;
font-weight:500;
}

/* INPUTS */

input,textarea{
width:100%;
padding:12px;
border-radius:8px;
border:1px solid #ddd;
}

textarea{
height:120px;
resize:none;
}

/* UPLOAD BOX */

.upload{
border:2px dashed #d6d6d6;
border-radius:12px;
text-align:center;
padding:35px;
cursor:pointer;
color:#777;
}

.upload-icon{
font-size:28px;
margin-bottom:8px;
}

/* BUTTON */

.generate{
width:100%;
margin-top:25px;
padding:14px;
border:none;
border-radius:10px;
background:linear-gradient(90deg,#7b61ff,#5c7cff);
color:white;
font-size:16px;
font-weight:bold;
cursor:pointer;
}

